<h2 align="center">Mise à jour fournisseur</h2>

<!-- Spinner -->
<div *ngIf="isLoading$ | async" class="spinner-container">
  <div class="spinner"></div>
</div>
  Nom : {{nom}}
<!-- Formulaire si le provider est chargé -->
<ng-container *ngIf="provider | async as provider">
  <div class="form-group">
    <label for="idProvider">ID</label>
    <input type="number" class="form-control" [(ngModel)]="id" id="idProvider" disabled>
  </div>

  <div class="form-group">
    <label for="nomProvider">Nom</label>
    <input type="text" class="form-control" [(ngModel)]="nom" id="nomProvider" placeholder="Enter nom">
  </div>

  <div class="form-group">
    <label for="emailProvider">Email</label>
    <input type="email" class="form-control" [(ngModel)]="email" id="emailProvider" placeholder="Enter email">
  </div>

  <div class="form-group">
    <label for="detailsProvider">Details</label>
    <input type="text" class="form-control" [(ngModel)]="details" id="detailsProvider" placeholder="Enter details">
  </div>

  <button class="btn btn-success" (click)="updateProvider()">Mettre à jour</button>
</ng-container>
